
.grid1 {
  display:grid;
  grid-template-rows:auto;
  grid-template-columns: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin:20px;
}

.logo{
  max-width:25%;
  max-height:auto;
}


.nav-links {
    list-style-type: none;
    display:flex;
    margin:0;
    padding:0;
  }
  .nav-links li {
    display: inline;
    padding:1em;
  }
  .links{
    text-decoration: none;
    color:#495e57;
    font-weight: bold;
  }

@media (max-width: 768px ) {
  .nav-container {
    flex-direction:column;
    align-items: flex-start;
  }
  .logo{
    margin-bottom: 20px;
  }
  .nav-links{
    flex-direction: column;
  }
  .nav-links li {
    margin:0;
    margin-bottom: 10px;
  }
}
.about-main{
  background-color: #495e57;
  margin-left: 20px;
  margin-right: 20px;
  padding-top:5px;
}
.lemon-description{
  display:flex;
  justify-content: space-between;
  color:white;
  padding:15px;
}
.sushi-pic{
  max-width: 25%;
  max-height: 15%;
  border-radius: 10%;
  padding:15px;
}

h1 {
  color:#f4ce14;
  padding-left:15px;
  padding-top:15px;
  padding-bottom:0px;
  font-family:Markazi;
  font-size:xx-large;
  font-weight: bold;
  letter-spacing: 5px;
}
.chicago{
  color:white;
  padding-left: 15px;
  font-family:Markazi;
  font-size: x-large;
}
.reserve-button{
  background-color: #f4ce14;
  font-weight: bold;
  text-align: center;
  border:none;
  border-radius: 12px;
  padding:10px;
  margin:15px;
  transition-duration: 0.4s;
}
.reserve-button:hover {
  background-color:gray;
  color:#495e57;
}
.special-flex {
  display: flex;
  justify-content: space-between;
  padding:15px;
}
.container-flex{
  display:flex;
  flex-direction: row;
  padding:15px;
}
.specials-menu{
  display: flex;
  flex-direction: column;
  max-width: 34%;
}
.specials-img{
  padding:5px;
  max-width:100%;
  max-height:auto;
  display:block;
}
.specials-title{
  font-size: 16px;
  padding:5px;

}
.specials-price{
  color:red;
  margin:5px;
}
.specials-des{
  padding:5px;
  color:#495e57;
}
@media (max-width:768px) {
  .sushi-pic{
    border-radius: 20%;
  }
  .container-flex{
    display:flex;
    flex-direction: column;
  }
  .specials-menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 34%;
  }
  .specials-img{
    max-width: 100px;
    height: 100px;
    }
    .specials-des{
      padding:2px;
    }
    .order-des{
      display:none;
    }
    .deli-icon{
      width:25px;
      height:25px;
    }
    .footer-container{
      flex-direction:column;
    }
    .footer-img{
      display: none;
    }
    .footer-heading{
      padding-left: 5px;
    }
}
.deli-icon{
  max-width:20px;
  max-height:auto;
  padding-top: 0%;
}
.order-des{
  color:#495e57;
}
.footer-container{
  background-color: #495e57;
  display:flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom:20px;
}
.image-container{
  max-width:300px;
  max-height:auto;
}
.footer-img{
  max-width:25%;
  height:auto;
  padding:10px;
}
.footer-heading{
  color:#f4ce14;
  font-family: Markazi;
  font-size: x-large;
}
.list-items{
  list-style: none;
  color:white;
  text-align:left;
}
.media-container{
  padding-right:10px;
}
.mario-image{
  width:100%;
  height: auto;
}
.form-container{
  display:grid;
  max-width:600px;
  max-height: 400px;
  margin-top: 5px;
  padding: 20px;
  align-items:center;
}
.field{
  padding:10px;
  grid-template-rows: auto;
}